<header class="header fixed-block">
  <div class="container">
      <div class="header__inner">
          <a href="/" class="logo">
            <img width="157" height="40" src="img/logo.svg" alt="logo">
          </a>

        <ul class="main-nav">
          <li class="main-nav__item"><a href="#" class="main-nav__link">About</a></li>
          <li class="main-nav__item"><a href="#" class="main-nav__link">FaQ</a></li>
          <li class="main-nav__item"><a href="#" class="main-nav__link">Team</a></li>
          <li class="main-nav__item"><a href="#" class="main-nav__link">Community</a></li>
        </ul>
  
        <div class="header__btns">
          <a class="main-btn">
            Eng
            <span></span>
          </a>
          <a class="main-btn main-btn--transparent">
            Launch app
            <span></span>
          </a>
        </div>

        <button class="burger">
          <span class="burger__line"></span>
        </button>

        <div class="mobile">
          <div class="mobile__menu">
            <div class="mobile__menu-top">
              <a class="logo" href="/">
                <img width="157" height="40" src="img/logo.svg" alt="logo">
              </a>
              <div class="burger">
                <span class="burger__line"></span>
              </div>
            </div>
            	<ul class="mobile__menu-list">
                <li><a href="#">About company</a></li>
                <li><a href="#">FaQ</a></li>
                <li><a href="#">Team</a></li>
                <li><a href="#">Community</a></li>
              </ul>
              <div class="mobile__menu-btns">
                <a class="main-btn">
                  Eng
                  <span></span>
                </a>
                <a class="main-btn main-btn--transparent">
                  Launch app
                  <span></span>
                </a>
              </div>
          </div>
        </div>
      </div>
  </div>
</header>





