.first-section {
  overflow: hidden;
  position: relative;
  z-index: 2;

  &::before, &::after{
    position: absolute;
    content: '';
    background-repeat: no-repeat;
    background-size: contain;
    top: 50%;
    filter: blur(15px);
    transform: translateY(-50%);
    z-index: -1;
    opacity: .9;
  }

  &::before{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='336' height='914' fill='none'%3E%3Cg filter='url(%23a)'%3E%3Cellipse cx='723.5' cy='457' fill='%230C8AFA' rx='498.5' ry='232'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='a' width='1447' height='914' x='0' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur result='effect1_foregroundBlur_0_561' stdDeviation='112.5'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");
    background-position: left center;
    right: -20px;
    width: Min(22.222vw, 336px);
    height: Min(60.45vw, 914px);

    @include tablet{
      top: 60%;
      right: -5%;
    }

    @include mobile{
      top: 27%;
      width: 185px;
      height: 641px;
    }
  }

  &::after{
    background-position: right center;
    left: -20px;
    width: clamp(226px, 21.693vw, 328px);
    height: clamp(630px, 60.45vw, 914px);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='328' height='914' fill='none'%3E%3Cg filter='url(%23a)'%3E%3Cellipse cx='-395.5' cy='457' fill='%230C8AFA' rx='498.5' ry='232'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='a' width='1447' height='914' x='-1119' y='0' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeBlend in='SourceGraphic' in2='BackgroundImageFix' result='shape'/%3E%3CfeGaussianBlur result='effect1_foregroundBlur_0_560' stdDeviation='112.5'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E");

    @include tablet{
      top: 40%;
      left: -5%;
    }

    @include mobile{
      top: 27%;
      width: 195px;
      height: 641px;
    }
  }

  
  @include for-mobile {
    padding: clamp(55px, 12.6496vw, 148px) 0 clamp(60px, 12.8205vw, 150px);
  }

  @include mobile {
    padding: 26px 0 0;

    & + section{
      margin-top: -80px;
      position: relative;
      z-index: 5;
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    grid-gap: 20px;
  }

  &__image {
    width: Min(78.947vw, 900px);

    @include for-tablet {
      top: -42%;
      right: -5.5%;
    }

    @include tablet {
      @include for-mobile {
        width: Min(64.1026vw, 750px);
        bottom: 0;
        right: -2%;
        transform: translateY(35%);
      }
    }

    @include for-mobile {
      z-index: -1;
      position: absolute;
    }

    @include mobile {
      align-self: center;
      width: 120%;
      margin-top: -10%;
    }
  }

  .main-top {
    @include for-small-tablet {
      max-width: Min(47.0085vw, 550px);
    }

    @include small-tablet {
      @include for-mobile{
      max-width: clamp(305px, 45.573vw, 350px);
      align-items: flex-start;

      .main-btn {
        max-width: 85%;
      }
      }
    }

    &__title {
      @include small-tablet {
        @include for-mobile{
         text-align: start;
        }
      }

      @include mobile{
        font-size: clamp(34px, 4.7009vw, 55px);
      }
    }

    p {
      @include small-tablet {
        @include for-mobile{
          text-align: start;
        }
      }
    }
  }


}
